:root {
    --color-texto-on-hover:#8FC1D4;
    --color-secundario: #865439;
    --color-primario: #C68B59;
    --color-terciario: #FCDEC0;
    --color-texto-secundario: #FCDEC0;
}

body {
    background-color: var(--color-primario);
}

.fondo-navbar {
    background-color: var(--color-secundario);
}

.color-texto-navbar {
    color: var(--color-primario);
    text-decoration: none;
}

.color-texto-navbar:hover {
    color: var(--color-texto-on-hover);
}

.color-texto {
    color: var(--color-secundario);
}

.color-texto:hover {
    color: var(--color-texto-on-hover)
}
.color-texto-secundario {
    color: var(--color-texto-secundario);
}

.fondo {
    background-color: var(--color-terciario);
}

.fondo-card {
    background-color: var(--color-primario);
}


.color-borde {
    border: 1px solid rgba(0,0,0,0);
}

#card-pedido {
    background-color: var(--color-secundario);
}

