:root {
    --color-texto-on-hover:#8FC1D4;
    --color-secundario: #14279B;
    --color-primario: #FFFFFF;
    --color-terciario: #5C7AEA;
    --color-cuaternario: #E6E6E6;
    --color-texto-secundario: #FCDEC0;
}

body {
    background-color: var(--color-primario);
}

.fondo-navbar {
    background-color: var(--color-secundario);
}

.color-texto-navbar {
    color: var(--color-primario);
    text-decoration: none;
}

.color-texto-navbar:hover {
    color: var(--color-texto-on-hover);
}

.color-texto {
    color: var(--color-texto-secundario);
}

.color-texto:hover {
    color: var(--color-texto-on-hover)
}
.color-texto-secundario {
    color: var(--color-texto-secundario);
}

.fondo {
    background-color: var(--color-terciario);
}

.fondo-card {
    background-color: var(--color-secundario);
}


.color-borde {
    border: 1px solid rgba(0,0,0,0);
}

#card-pedido {
    background-color: var(--color-secundario);
    /* width: 50%; */
}

.input {
    background-color: var(--color-cuaternario);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.menu-icon {
    color: #FFFFFF;
}